<div class="row">
  <div class="span6 offset2">
    <div class="well">
     <h1 style="text-align:center">Contact Me</h1>
     <br>
      <form class="form-horizontal" action="/contact" method="post">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="name">Your Name</label>
            <div class="controls">
              <input type="text" class="input" id="name" name="name">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email">Your Email</label>
            <div class="controls">
        	  <input type="email" class="input" id="email" name="email">
        	</div>
          </div>
          <div class="control-group">
          	<label class="control-label" for="message">Your Message</label>
          	<div class="controls">
          	  <textarea class="input" id="message" rows="3" name="message"> </textarea>
          	</div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%=captcha_image_tag%><br>
              <p>Please enter text seen in image:<br>
              <%=captcha_answer_tag%></p>
              <br>
            </div>
        </div>
          <button style="float:right" type="submit" class="btn" value="Send">Submit</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>