<div class="row">
  <div class="span4 offset4">
    <ul class="nav nav-pills">
      <li><a href="http://itunes.apple.com/us/app/lick-tab/id398205028?mt=8" title="Try out Lick Tab" onclick="window.open(this.href); return false;" onkeypress="w
indow.open(this.href); return false;"><img src="licktab.png"></a></li>
      <li><a href="http://itunes.apple.com/us/app/moneytrack/id417532525?mt=8" title="Try out MoneyTrack" onclick="window.open(this.href); return false;" onkeypres
s="window.open(this.href); return false;"><img src="moneytrack.png"></a></li>
      <li><a href="http://itunes.apple.com/us/app/moodcheck/id448619924?mt=8" title="Try out Mood Check" onclick="window.open(this.href); return false;" onkeypress
="window.open(this.href); return false;"><img src="moodcheck.png"></a></li>
    </ul>
  </div>
</div>
<div class="well">
<div id="myCarousel" class="carousel">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <div class="imgmain">
        <img src="MoneyT.png"/>
        <br><br><br>
        <div class="carousel-caption">
          <h4>MoneyTrack</h4>
          <p>Simple and easy to use log application for either keeping track of money saved or money spent.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="imgmain">
        <img src="LickT.png"/>
        <br><br><br>
        <div class="carousel-caption">
          <h4>Lick Tab</h4>
          <p>Just enter a guitar riff and create the Tab in plain text, then you can copy the text, paste into notepad or email it to yourself and other band members.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="imgmain">
        <img src="MoodC.png"/>
        <br><br><br>
        <div class="carousel-caption">
          <h4>Mood Check</h4>
          <p>MoodCheck is a mood capturing and logging application. Use MoodCheck to see how you've been feeling over a period of time.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>
<script type="text/javascript">
  $('.carousel').carousel({interval: 40000})
</script>