<! DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap.js"></script>
  </head>
  <body>
  	<div class="well">
	  <div id="mainlogo">
      <h1><a href="/">Karl Turner</a></h1>
    </div>
	  <p class="codeschool"><a href="http://www.codeschool.com/users/otaiga"><img class="codeschool" src="codeschool.jpeg"></a>  <a href="https://twitter.com/#!/kdturner"><img src="twitter.png"></a>  <a href='/contact'><img class="codeschool" src="email.png"></a></p>
    </div>
      <div class="row">
        <div class="container">
            <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>